# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\program files\CS5004\Blockchain_Simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
